.popup__input {
  width: 358px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding: 0 0 13px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

@media screen and (max-width: 530px) {
  .popup__input {
    width: 238px;
  }
}

.popup__input:focus {
  outline: 2px solid rgba(0, 0, 255, 0.6);
  border-radius: 2px;
}
