.authorize__input {
  margin-bottom: 30px;
  width: 358px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding: 0 0 13px;
  height: 27px;
  border: none;
  border-bottom: 2px solid #CCC;
  box-sizing: border-box;
  background-color: #000;
  color:#CCC;
}

.authorize__input:nth-child(2) {
  margin: 0;
  
}

