.authorize__button {
  width: 358px;
  height: 50px;
  background: #ffffff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin: 216px 0 15px;
}

.authorize__button:hover {
  opacity: .85;
  
}