.popup__close {
  background: url(../../../images/Close-Icon.svg);
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
  transition: 0.4s opacity;
}

@media screen and (max-width: 445px) {
  .popup__close {
    background-image: url(../../../images/Close-Icon-mobile.svg);
    width: 20px;
    height: 20px;
    top: -26px;
    right: 0;
  }
}
