.profile__sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 16px 0 0 0;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 795px) {
  .profile__sub-title {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__sub-title {
    max-width: 189px;
    font-size: 14px;
    margin-top: 10px;
  }
}
